
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #b4cfe2;
$darkerGray: #222;
$darkGray: #ede4e4;
$gray: #e2e1f0;
$lightGray: #b2b0c4;
$white: #fff;

$background-color: #e9edef; // Dark background
$text-color: #0f0665;       // Light text
$link-color: #0f0665;       // Accent color for links
$header-color: #1e123a;     // Header text color
$border-color: #e7e0e0;   

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}